<!doctype html>
<html>
<head>
    <base href="/">
    <title>Hello AngularJS</title>
    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript"
            src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <style type="text/css">
        [ng\:cloak], [ng-cloak], .ng-cloak {
        display: none !important;
        }
    </style>

    <link rel="stylesheet" type="text/css"
          href="css/todomvc-common/base.css"/>
    <link rel="stylesheet" type="text/css"
          href="css/todomvc-app-css/index.css"/>

</head>

<body ng-app="todomvc" ng-cloak class="ng-cloak">
<div ng-controller="navigation" class="container">
    <ul class="nav nav-pills" role="tablist">
        <li><a href="/">home</a></li>
        <li><a href="/login.html">login</a></li>
        <li ng-show="authenticated"><a href="" ng-click="logout()">logout</a></li>
    </ul>
</div>
<div ng-view class="container"></div>

<!--
<script type="text/javascript" src="webjars/core-js/client/shim.min.js"></script>
<script type="text/javascript" src="webjars/rxjs/bundles/Rx.min.js"></script>

<script type="text/javascript" src="webjars/zone.js/dist/zone.min.js"></script>
-->
<script type="text/javascript" src="js/todomvc-common/base.js"></script>

<script type="text/javascript" src="webjars/reflect-metadata/Reflect.js"></script>


<script type="text/javascript" src="webjars/angularjs/angular.min.js"></script>
<script type="text/javascript" src="webjars/angularjs/angular-route.min.js"></script>
<script type="text/javascript" src="webjars/angularjs/angular-cookies.min.js"></script>
<script type="text/javascript"
        src="webjars/angularjs/angular-resource.min.js"></script>

<script type="text/javascript"
        src="webjars/angular-local-storage/dist/angular-local-storage.js"></script>

<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/services/todoStorage.js"></script>
<script type="text/javascript" src="js/directives/todoFocus.js"></script>
<script type="text/javascript" src="js/directives/todoEscape.js"></script>
<script type="text/javascript" src="js/controllers/todoCtrl.js"></script>



</body>
</html>
