<form ng-submit="login()" role="form">
    <div class="form-group">
        <input type="text" class="form-control"
               ng-model="credentials.username"
               placeholder="username"
               required=""/>
    </div>

    <div class="form-group">
        <input type="password" class="form-control"
               ng-model="credentials.password"
               placeholder="password" required=""/>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-success">Login</button>
    </div>
</form>
